.example-card {
  min-width: 40%;
}
mat-card {
  height: fit-content;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

mat-card-header {
  padding-top: 8px;
  color: white;
  background-color: #9a69ef;
  border-radius: 5px 5px 0px 0px;
}
/* @media only screen and (max-width: 900px){
  /*Tablets [601px -> 1200px]
  .example-card {
    min-width: 90%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px){
  /*Tablets [601px -> 1200px]
  .example-card {
    min-width: 48%;
  }
} */
