.font-blue, mat-icon {
  color: darkblue !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:host ::ng-deep td mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.example-chip-list {
  width: 100%;
}

/* :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.2em !important;
} */
