table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

img{
  transform: rotateY(180deg);
}

.btn-unlock {
  background-color: rgb(0, 169, 0) !important;
}

.btn-failed {
  background-color: rgb(255, 91, 91) !important;
}

.opacity-2 {
  opacity: 0.8;
}

.md-dialog-container {
  width: 250px !important;
  height: 250px !important;
}
