<mat-card class="example-card w-100">
  <div>
   <p><u>Homepage > Pricing</u></p>
  </div>
  </mat-card>

  <div class="pt-5 pl-5">
    <h1 class="m-0">Plans and Pricing</h1>
    <h6>Manage your price and billing details here</h6>
  </div>
  <div class="d-flex w-100 mx-10">
    <mat-card class="w-30 mx-2">
      <div class="d-flex">
        <div class="col-8">
          <div class="">
            <span class="h6"><span class="h4">Plan-1</span>per/hour</span>
            <span class="badge badge-pill badge-success">active</span>
          </div>
          <h6>You can change your pricing plan</h6>
        </div>
        <div class="col-4 px-0">
          <span><span class="h3 mat-black">€ 0</span> p/h</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="w-100 d-flex justify-content-end mt-2">
        <button mat-stroked-button color="primary" (click)="editPrice()" class="rounded-button">Edit</button>
      </div>
    </mat-card>
<!--     <mat-card class="w-30 mx-2">
      <div class="d-flex">
        <div class="col-8">
          <div class="">
            <span class="h4">Plan-1 per/hour</span>
            <span class="badge badge-pill badge-secondary">active</span>
          </div>
          <h6>You can change your pricing plan</h6>
        </div>
        <div class="col-4">
          <span><span class="h3 mat-black">€ 35</span> p/h</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="w-100 d-flex justify-content-end mt-2">
        <button mat-button color="primary" class="rounded-button mx-2">Activate</button>
        <button mat-stroked-button color="primary" class="rounded-button">Edit</button>
      </div>
    </mat-card> -->
  </div>

